:root {
	--var-col: 1fr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	background-color: #17181d;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	max-width: 60rem;
}

.dashboard {
	margin-bottom: 100px;
}

h1 {
	color: #fffef1;
	font-family: Graphik, sans-serif;
	letter-spacing: -0.03em;
	font-size: 48px;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: 12px;
}

h4 {
	color: #c1c0b4;
	font-family: Graphik, sans-serif;
	text-shadow: 0 0 80px #17181d;
	margin-top: 20px;
	font-size: 19px;
}

.profile {
	margin: 0 40px;
}

.bento {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	max-width: 75em;
}

.box {
	position: relative;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	padding: 2rem;
	border-radius: 0.75rem;
	border: 1px solid rgb(45 44 44);
	background-color: rgb(45 44 44 / 70%);
	color: #c1c0b4;
	font-family: Graphik, sans-serif;
	text-shadow: 0 0 80px #17181d;
	font-size: 12px;
	box-shadow: 0 1px 1px rgb(45 44 44 / 90%);
	margin: 12px;
}

.box > .heading {
	color: #fffef1;
	font-family: Graphik, sans-serif;
	letter-spacing: -0.03em;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: 8px;
	margin-top: 0;
}

.box > .heading-sm {
	font-size: 14px;
	text-shadow: 0 0 80px #17181d;
}

.stats {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	gap: 30px;
}

.stat-icon {
	padding: 8px;
	background-color: #17181d;
	border-radius: 0.8em;
	margin-right: 10px;
}

ul {
	padding: 0;
	list-style-type: none;
}

ul > li:not(:last-child) {
	padding: 10px 0;
}

ul > li:last-child {
	padding: 10px 0 0 0;
}

.flexy {
	display: flex;
	justify-content: space-between;
}

.space-below {
	padding-bottom: 5px;
}
